<ion-header>
    <ion-toolbar class="toolbar">
        <ion-title class="titulo"><img src="assets/icon/logo_somos.png" alt="" style="height: 40px;"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="registrar()" expand="block">Aceptar</ion-button>
</ion-content>